.todos {
  width: 100%;
  padding: 5rem 2.5rem;
  .todos_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    h2 {
      font-weight: 500;
      letter-spacing: 0.1rem;
      margin-bottom: 1rem;
    }
  }
}